nimcache/
nimblecache/
htmldocs/
./bin
*.bai
profiling
multiqc/
.DS_Store
local
nimbledeps/
test/
src/macrotest*
bamtocov_*
*.fa.amb
*.fa.ann
*.fa.bwt
*.fa.pac
*.fa.sa
*sam
bamtocov-chrom*
_test
./shpec
shunit2/
.vscode
shpec/
_data/
